.Homepage-Div{
    display:flex;
    justify-content: space-between;
}
.Image-Homepage{
    width:40%;
}
.Text-Homepage{
    width:60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin:0.5rem;
    line-height: 2.5rem;
   
}